@font-face {
  font-family: 'cxecrt-icon-font';
  src: url('../font/cxecrt-icon-font.eot?52582147');
  src: url('../font/cxecrt-icon-font.eot?52582147#iefix') format('embedded-opentype'),
       url('../font/cxecrt-icon-font.woff?52582147') format('woff'),
       url('../font/cxecrt-icon-font.ttf?52582147') format('truetype'),
       url('../font/cxecrt-icon-font.svg?52582147#cxecrt-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cxecrt-icon-font';
    src: url('../font/cxecrt-icon-font.svg?52582147#cxecrt-icon-font') format('svg');
  }
}
*/
 
 [class^="cxecrt-icon-"]:before, [class*=" cxecrt-icon-"]:before {
  font-family: "cxecrt-icon-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.cxecrt-icon-info-circled:before { content: '\e800'; } /* '' */
.cxecrt-icon-cart-arrow-down:before { content: '\e801'; } /* '' */
.cxecrt-icon-export:before { content: '\e802'; } /* '' */
.cxecrt-icon-left-open:before { content: '\e803'; } /* '' */
.cxecrt-icon-cancel:before { content: '\e804'; } /* '' */