.nb-dropdown-tab {
    display: none;
    position: absolute;
    top: 60px;
    border: 1px solid #ccc;
    background: #fff;
    max-height: calc(100vh - 130px);
    width: 320px;
    right: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #ccc;
}
.nb-dropdown-tab:after {
    content: '';
    display: inline-block;
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    top: -8px;
    right: 50px;
}
.nb-dropdown-tab:before {
    content: '';
    display: inline-block;
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ccc;
    top: -9px;
    right: 50px;
}
.nb-box-body {
    padding: 15px;
}
.nb-box-body select {
    width: 100%;
    border-radius: 4px;
    padding: 5px;
}
.nb-box-body .block-img {
    width: 80px;
    margin-right: 10px;
}
.nb-box-body .block-price {
    width: calc(100% - 90px);
}
.nb-box-body .list-img {
    display: flex;
    margin-bottom: 15px;
}
.nb-box-body .list-img:last-child {
    margin-bottom: 0px;
}
.nb-box-body .list-img .block-price p {
    margin-bottom: 0px;
}
.nb-box-body .list-img .block-price .price {
    font-size: 18px;
}
.nb-box-header {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(14,19,24,.15);
    font-size: 15px;
    position: relative;
}
.nb-box-header p {
    text-align: center;
    margin-bottom: 0px;
}
.nb-box-header .nb-btn-back {
    position: absolute;
    top: 13px;
}
.nb-box-loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #ffffffe6;
}
.nb-box-loading .nb-box-loading-container {
    width: 100px;
    height: 100px;
    margin: auto;
    padding-bottom: 30px;
}
.nb-box-loading .nb-box-loading-container .circular {
    position: relative;
}
.nb-box-loading .nb-box-loading-container p {
    text-align: center;
}
.nb-box-payment {
    display: none;
}
.nb-box-payment #card-number-element {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
}
.nb-box-payment #card-expiry-element {
    width: 50%;
    float: left;
    border: 1px solid #ccc;
    border-right: 0px;
    border-radius: 0px 0px 0px 4px;
}
.nb-box-payment #card-cvc-element {
    width: 50%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 0px 0px 4px 0px;
}
.nb-btn-close {
    font-size: 30px;
    line-height: 25px;
    max-height: 25px;
    right: 9px;
    cursor: pointer;
    position: absolute;
    top: 10px;
}
.nb-form-row {
    margin-bottom: 15px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
}
.nb-form-row.show {
    padding-bottom: 15px;
}
.nb-form-row .total-image {
    font-size: 16px;
    clear: both;
    display: inline-block;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
}
.nb-form-row .row-image {
    max-height: 195px;
    overflow-y: auto;
    height: 0px;
    -webkit-transition: all .1s;
    transition: all .1s;
}
.nb-form-row.show .total-image {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
}
.nb-form-row.show .row-image {
    height: auto;
}
.nb-form-row .row-image::-webkit-scrollbar {
  width: 3px;
}
.nb-form-row .row-image::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.nb-form-row .row-image::-webkit-scrollbar-thumb {
  background: #888; 
}
.nb-form-row .row-image::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.nb-form-row .paid-image{
    float: left;
}
.nb-form-row .collapse-button {
    margin-left: 10px;
}
.nb-form-row .collapse-button svg{
    -webkit-transition: all .2s;
    transition: all .2s;
}
.nb-form-row.show .collapse-button svg{
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.nb-form-row .collapse-button, .nb-form-row .total{
    float: right;
}
.nb-btn-dropdown-form {
    width: 100%;
    margin-top: 10px;
    color: #fff;
    background-color: #00c4cc;
    font-weight: 600;
}
.nb-btn-dropdown-form:hover, .nb-btn-dropdown-form:focus {
    background-color: #00d9e1;
    color: #fff;
}
.nb-btn-dropdown-toggle {
    border-radius: 4px !important;
}
.nb-btn-dropdown-toggle svg {
    margin-bottom: -3px;
    margin-right: 6px;
}
#nb-payment-method {
    margin-bottom: 10px;
}
.form-gallery-container {
    width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px 20px 30px;
    border-radius: 3px;
}
.form-gallery-container .popup-confirm-delete {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100000;
    background-color: #49494cde;
    width: 100%;
    height: 100vh;
}
.form-gallery-container .popup-confirm-delete .popup-container {
    margin: 30vh auto;
    height: 155px;
    max-height: calc(100vh - 100px);
    max-width: 320px;
    padding: 20px 20px;
    border-radius: 3px;
    background: #fff;
}
.form-gallery-container .popup-confirm-delete .close-sevice-popup {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    float: right;
    z-index: 100;
    margin-right: -24px;
    margin-top: -15px;
    cursor: pointer;
}
.form-gallery-container .popup-confirm-delete .title {
    margin-top: 0px;
}
.form-gallery-container .popup-confirm-delete .content {
    margin-bottom: 20px;
    font-size: 16px;
    margin-bottom: 15px;
}
.form-gallery-container .popup-confirm-delete .description {
    margin-top: 0px;
}
.form-gallery-container img {
    max-width: 100%;
}
.form-gallery-container.upload-watermark .image img {
    max-width: 200px;
}
.form-gallery-container table {
    margin-top: 25px;
}
.form-gallery-container table input[type="number"] {
    padding: 0 0 0 8px;
}
.form-gallery-container tr {
    height: 66px;
    line-height: 26px;
}
.form-gallery-container th {
    width: 90px;
    text-align: left;
}
.nbgallery-container img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px #ccc;
}
.nbgallery-container .block-gallery {
    margin-right: 0px;
    margin-top: 22px;
    margin-bottom: 20px;
}
.nbgallery-container .block-img {
    margin-bottom: 30px;
    position: relative;
    height: 120px;
}
.nbgallery-container .block-img a{
    display: block;
    position: absolute;
    right: 18px;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 4px;
    box-shadow: 0px 0px 2px #ccc;
}
.nbd-sidebar .nbd-items-dropdown .result-loaded .nbdesigner-gallery .nbdesigner-item.show {
    z-index: 10;
}
.nbdesigner-gallery .block-info {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    width: 105px;
    left: -79px;
    margin-top: 4px;
    text-align: left;
}
.nbdesigner-gallery .block-info:after {
    content: '';
    display: inline-block;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    top: -5px;
    right: 10px;
}
.nbdesigner-gallery .block-info p {
    margin-bottom: 5px;
}
.nbdesigner-gallery .block-info .price {
    margin-bottom: 0px;
    font-size: 16px;
    text-align: right;
}
.nbdesigner-gallery .block-info .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nbdesigner-gallery .nbdesigner-item.show .block-info {
    display: block;
}
.nbdesigner-gallery .dimention {
    font-size: 10px;
}
.nbdesigner-gallery .more-info {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0px 6px;
    background: #333;
    border-radius: 5px;
    z-index: 10;
}
.nbd-sidebar #tab-photo .nbd-items-dropdown .result-loaded {
    padding-bottom: 50px;
}
.gallery-image_page_add-new, .toplevel_page_gallery-image {
    background-color: #f1f1f1;
}
.nbd-main-bar ul.menu-right li.menu-item.item-process {
    padding: 7px 15px 6px;
}
@media (max-width: 575px) {
    .nb-btn-dropdown-toggle svg {
        margin-right: 0;
    }
    .nb-btn-dropdown-toggle span {
        display: none;
    }
    .nb-dropdown-tab {
        right: -108px;
    }
    .nb-dropdown-tab:before, .nb-dropdown-tab:after {
        right: 135px;
    }
}
@media (max-width: 320px) {
    .nbd-main-bar ul.menu-right .menu-item.nbd-download {
        padding: 10px 10px 10px 0px;
    }
    .nbd-main-bar ul.menu-right li.menu-item.item-process {
        padding: 7px 5px 6px;
    }
    .nb-dropdown-tab {
        right: -95px;
    }
    .nb-dropdown-tab:before, .nb-dropdown-tab:after {
        right: 115px;
    }
}